<blog-header></blog-header>

<div class="sort-container">
  <div class="sort">
    <p>Сортировка:</p>
    <select (change)="sortArticlesHandler($event)" [value]="selectedSort">
      <option *ngFor="let option of options" [value]="option.value">
        {{ option.name }}
      </option>
    </select>
  </div>
</div>

<blog-articles-pagination [currentPage]="currentPage"></blog-articles-pagination>

<div class="articles-container">
  <div class="articles">
    <div class="article" *ngFor="let article of articles$ | async; index as index">
      <div>
        <p class="text-title" [routerLink]="['/article', article.id]">
          {{ article.id }}. {{ article.title | uppercase }}
        </p>
        <p class="text-description">{{ article.body }}</p>
      </div>

      <div class="like-container">
        <span>Likes: {{ article.favoritesCount }}</span>

        <button
          (click)="
            changeFavoriteHandler({
              id: article.id,
              favorite: article.favorited,
              favCount: article.favoritesCount
            })
          "
        >
          {{ article.favorited ? '&#x1F44E;' : '&#x1F44D;' }}
        </button>
      </div>
    </div>
  </div>
</div>

<blog-articles-pagination [currentPage]="currentPage"></blog-articles-pagination>
