@import 'src/common/styles/scss/fields';
@import 'src/common/styles/scss/button';
@import 'src/common/styles/scss/variables';
@import 'src/common/styles/scss/mixins';

.comments-container {
  @include container();
  @include text($textFontFamily, 14px, 1.2, 400);

  .title {
    text-align: center;
  }

  .comments {
    @include flex(row, space-between, center, nowrap);
    border: 2px solid $primaryColor;
    letter-spacing: 1px;
    padding: 10px;
    min-height: 100px;
    margin: 10px;
    background-color: $bgColor;

    .text-title {
      @include text($textFontFamily, 16px, 1.8, 500);
    }

    .text-email {
      @include text($textFontFamily, 14px, 1.8, 400);
      padding: 5px;
      color: $primaryColor;
    }

    button[type='submit']{
      @extend button
    }
  }

  .form {
    width: 600px;
    padding: 20px;
    margin: 0 auto;

    .submit {
      padding: 10px;
      margin: 10px auto;

    }

    .inputError {
      background-color: $primaryColor;
    }

    .inputSuccess {
      background-color: $bgSecondColor;
    }

    .error {
      color: red
    }
  }
}
