$textColor: #fff;
$primaryColor: #4f81a8;
$primarySecondColor: rgba(61, 61, 61, 0.75);

$bgColor: #1f1f20;
$bgSecondColor: #252527;

$titleFontFamily: 'Josefin Sans', sans-serif;
$textFontFamily: 'Poppins', sans-serif;

