@import './src/common/styles/scss/mixins';
@import "src/common/styles/scss/button";

.header-container {
  @include flex(row, space-between, center, wrap);
  @include text($titleFontFamily, 16px, 1.2, 700);

  color: $primaryColor;
  height: 62px;
  background-color: $bgColor;
  padding: 0 10%;

  .title {
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $textColor;
    }
  }
}
