.header {
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: #e8f5f5;
}

.links {
    padding: 0 10px;
    margin-left: auto;
    text-decoration: none;
    color: black;
    font-size: 20px;
  }

